.packagesContainer {
    text-align: left;
    padding: 25px;
}

.managerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    margin-bottom: 10px;
}

.managerContainer div{
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.packagesList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

td{
    vertical-align: middle;
}


.loaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}