.App{
    text-align: center;

    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

html {
    height: 100%;
}

body {
    height: 100%;
}